.customize {
    position: fixed;
    top: 250px;
    right: -250px;
    width: 250px;
    height: auto;
    box-shadow: 0 0 3px 0 #888888;
    padding: 10px;
    z-index: 999;
    background-color: #ffffff;
    transition: 0.3s all ease-in-out;

    &.active {
        right: 0;
        transition: 0.3s all ease-in-out;
    }

    .gear-top {
        position: relative;
        top: -10px;
        left: -60px;

        .gear-controller {
            background-color: #ffffff;
            position: absolute;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 3px 0 #888888;
            overflow: hidden;
            text-decoration: none;
            color: #000000;
        }
    }

    .customize-resource {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .btn-circle {
            cursor: pointer;
            width: 50px;
            height: 50px;
            outline: none;
            border: none;
            margin: 2.5px;
            border-radius: 50%;
        }

    }

}
