*{
    font-family: 'Dosis', sans-serif;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #eeeeee;
    height: 20px !important;
}

@import "variable/variable";

@import "auth/auth";

@import "layout/layout";

@import "global/global";

@import "components/dashboard";

@import "components/profle";
