.authentication {

    .form-group {
        padding: 10px;

        .cursor-pointer {
            cursor: pointer;
        }

        .btn-size-theme {
            line-height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

}

.form-label {
    font-weight: bold;
}

.form-control {
    line-height: 35px;
    border: 1px solid var(--light);
}

.error-text {
    font-size: 12px;
    font-weight: bold;
    color: var(--red);
    margin-top: 10px;
}
