.card-content {
    width: 100%;
    background-color: var(--white);
    padding-bottom: 20px;
    border: 1px solid var(--light);

    ::-webkit-scrollbar {
        background-color: transparent;
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--grey);
        height: 20px !important;
    }

    .card-header {
        width: 100%;
        padding: 15px;

        &.start{
            display: flex;
            align-items: center;
            justify-content: start;
        }

        &.between{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .icon-bottom{
            @media screen and (max-width: 576px) {
                margin-top: 10px;
            }
        }

        .form-top-marge{
            @media screen and (max-width: 756px) {
                margin-top: 20px;
            }
        }

        @media screen and (max-width: 676px) {
            flex-wrap: wrap;
        }

        .card-title{
            font-size: 20px;
            font-weight: bold;
        }

        .select-icon {
            padding: 5px 10px;
            display: inline-block;
            text-decoration: none;
            color: var(--black);
            transition: 0.3s all ease-in-out;
            border-radius: 6px;

            &:hover {
                transition: 0.3s all ease-in-out;
                background-color: var(--grey);
                color: var(--white);
            }

        }

    }

    .card-body {
        width: 100%;
        height: calc(100vh - 400px);
        overflow-y: scroll;
        overflow-x: hidden;

        @media screen and (max-width: 600px) {
            height: calc(100vh - 450px);
        }

        .page-no-data-found {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .card-topic {
            padding: 15px;
            font-weight: bold;
        }

        .card-list {
            padding: 10px 15px;
            border-bottom: 1px solid var(--light);

            &:last-child{
                border-bottom: none;
            }

            &:hover {
                background-color: var(--light);
            }

        }

        .marge-title {
            display: none;

            @media screen and (max-width: 575px) {
                font-weight: bold;
                display: block;
            }

        }

    }

    .card-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

}
