.navbar {
    .navbar-brand {
        font-size: 25px;
        @media screen and (max-width: 991px) {
            font-size: 20px;
        }
    }

    .collapse {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 20px;
                    @media screen and (max-width: 991px) {
                        font-size: 16px;
                    }
                }

                .dropdown-menu {
                    .dropdown-item {
                        font-size: 20px;

                        &:hover, &:active {
                            background-color: var(--light);
                            color: var(--black)
                        }

                        @media screen and (max-width: 991px) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
