.modal {

    .modal-dialog {

        .modal-content {

            .modal-header {

                .modal-title {
                    font-weight: bold;
                }

                .btn-close {
                }

            }

            .modal-body {

                .form-label {
                    font-weight: bold;
                }

                .form-control {
                    box-shadow: 0 0 0 0;
                    border: 1px solid var(--light);
                }

                .modal-avatar {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background-color: var(--light);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.cursor-pointer {
                        cursor: pointer;
                    }

                }

                .update-resource {
                    width: 100%;
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid var(--light);
                    color: var(--black);
                    cursor: pointer;
                    transition: 0.3s all ease-in-out;

                    &:hover {
                        transition: 0.3s all ease-in-out;
                        background-color: var(--light);
                    }

                }

            }

            .modal-footer {

                .btn {
                    line-height: 35px;
                    padding: 0 20px;
                }

            }

        }

    }

}
