.profile {
    height: 100%;

    .profile-card {
        padding: 20px;

        .profile-card-body {

            .profile-avatar {
                width: 250px;
                height: 250px;
                object-fit: cover;
                border-radius: 50%;
            }

        }

        .btn-size-theme {
            line-height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

}
