:root {
    --white: #ffffff;
    --black: #000000;
    --red: #ff0000;
    --light: #eeeeee;
    --grey: #888888;
    --font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-family);
}
