.hero-section{
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 70%;
    background-attachment: fixed;

    @media screen and (max-width: 991px) {
        background-size: cover;

    }

}
