.authentication{

    .btn-home{
        display: inline-block;
        padding: 5px 10px;
        text-decoration: none;
        color: #000000;
        transition: 0.3s all ease-in-out;
        box-shadow: 0 0 8px 0 #888888;
        border-radius: 6px;

        &:hover{
            background-color: #000000;
            color: #ffffff;
            transition: 0.3s all ease-in-out;
        }

    }

    .form-group{
        padding: 10px;

        .cursor-pointer{
            cursor: pointer;
        }

        .form-label{
            font-weight: bold;
        }

        .form-check-input{
            box-shadow: 0 0 0 0;
            border: 1px solid #eeeeee;
            padding: 10px;
            margin-right: 5px;

            &:checked{
                background-color: #6C63FF;
            }

        }

        .form-control{
            line-height: 35px;
            box-shadow: 0 0 0 0;
            border: 1px solid #eeeeee;
        }

        .error-text{
            color: #ff0000;
            font-weight: bold;
            font-size: 12px;
            margin-top: 10px;
            letter-spacing: 1px;
        }

        .btn-size-theme{
            line-height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

}
